html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.side-bar {
  background: red;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  padding: 25px;
}

#grid {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 500px;
  height: 500px;
  background: gray;
}

.pixel {
  background-color: white;
  user-select: none;
}

.option {
  display: flex;
  flex-direction: column;
}
